header h1{
	color:  white;
	font-size: 23px;
	margin-left: 40px;
}
header h1,
header nav{
	display: inline-block;
}
nav ul{
	list-style: none;
	margin: 0;
 	padding: 0;
}
nav ul li a{
	padding: 22px;
	color: white;
	text-decoration: none;
	display: block;
}
header nav ul li{
	display: inline-block;
	margin-right: 5px;
}
header{
	text-align: left;
	background: grey;
}
 body{
 	margin: 0;
}
section article{
	margin: 0 auto;
}
article img{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
}
section article h3{
	margin-bottom: 30px;
	text-align: center;
	font-size: 32px;
}
article p{
	text-align: center;
	font-size: 19px;
	color: grey;
}
.article2{
	margin-top: 20px;
}
.texto{
	color: green;
	text-decoration: none;
}